/* Welcome.module.css */
.container {
  background-image: url("../../assets/Images/gif.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra verticalmente el contenido en pantallas grandes */
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(30, end);
  font-size: 24px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 36px;
  margin-right: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%; /* La imagen se ajustará al ancho de su contenedor */
  max-height: auto; /* Ajustar la altura automáticamente para mantener la proporción */
  border-radius: 50%;
  margin-top: 10px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Estilos para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center; /* Centra verticalmente el contenido en pantallas pequeñas */
  }
}
.container {
  height: auto;
  margin-top: 80px;
  height: 100vh;
  
}

