
/* Estilos CSS */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter {
  font-size: 24px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 36px;
  margin-right: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.image {
  max-width: 500px;
  margin-right: 20px;
}

/* Media query para pantallas pequeñas (por ejemplo, pantallas con un ancho máximo de 768px) */
@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px; 
    height: auto;/* Agrega un margen superior para separar el componente del superior */
  }

  .content {
    height: 100vh;
    flex-direction: column-reverse; /* Mantiene la dirección de columna inversa para mostrar primero el texto en pantallas pequeñas */
    text-align: center;
    align-items: center; /* Centra verticalmente el contenido */
    margin-top: 20px; 
    margin-right:0px;
    justify-content: center;
    align-items: center;/* Agrega un margen superior para separarlo del contenido superior */
  }
  .typewriter {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .image {
    max-width: 250px;
    margin-right: 0;
    margin-bottom: 20px;

  }

  .textContainer {
    width: 80%;
    
  }
}
