body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/Images/fondo.jpg");
  background-size: cover; /* Ajustar imagen de fondo al tamaño del contenedor */
  background-attachment: fixed; /* Fijar la imagen de fondo para que no se desplace */
  width: 100vw; /* Asegura que el cuerpo ocupe al menos el 100% de la ventana */
  display: flex;
  flex-direction: column; /* Alinear hijos en columna */
  justify-content: center; /* Alinear hijos en el centro vertical */
  align-items: center; /* Alinear hijos en el centro horizontal */
  color: white;
}
